
/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  width: 100%;
    margin-bottom: 1rem;
    padding: 1.3rem 1.6rem;
    background: #fff;
    border: 1px solid rgb(212, 212, 212);
    font-family: sans-serif;
    font-weight: 600;
    color: rgb(78, 78, 78);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 1rem;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #fff;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #000 transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #000 transparent;
    top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: rgb(90, 90, 90);
   padding: 5px 13px; 
  cursor: pointer;
  user-select: none;
}

.select-items div{
    color: rgb(90, 90, 90);
     padding: 5px 13px; 
     border: 1px solid transparent;
    border-color:rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;


  }

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;

}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgb(200, 200, 200);
}
